
.header{
    height: 4rem;
    background-color: black;
    width: 100%;
}
.profile{
    display: flex;
    height: 6rem ;
    background-color:black;
}
.picture{
    background-color: black;
    width: 40%;
align-self: center;}
.details{background-color: black;
width: 67%;
}
.Avatar{
    margin-left: 2rem;
}
.userdetails{
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    color: white;

}
.username{
    margin-top: 0;
    margin-bottom: 0;
    color: white;

}
.status{
    position: relative;
    bottom: 15px;
    margin-top: 0;
    padding-top: 0;
    height: 40%;
    width: 98%;
    color: white;
}
@media (min-width:700px) and (max-width: 900px) {
    .status{ width: 55%;}}
    @media (min-width:900px) and (max-width: 1500px) {
        .status{ width: 40%;}}
.main{
    background-color: black;
   padding-top: 3.5rem;
}   