
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.box {
  background-color: rgb(1, 1, 1);
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width:0px) and (max-width: 667px) {
 .box{ width: 130%;}

}
@media (min-width:667px) and (max-width: 740px) {
  .box{ width: 135%;}}
  @media (min-width:400px) and (max-width: 653px) {
    .box{ width: 100%;}}
    @media (min-width:740px) and (max-width: 1300px) {
      .box{ width: 130vw;}}
      