.logo{
    margin-left: 24%;
    height: 60px;
    width: 175px;
    margin-top: 15%;
    margin-bottom: 1.5rem;
    }
    .tab{
        height:100vh;
        background-color: black;
        width: 25%;

    }
    .menu{
    }